<li class="non-member-card">
  <div>
    <span><%=nonMember.name %></span>
    <span><%=nonMember.email %></span>
  </div>
  <div class="actions">
    <form action="/manage/ignore/<%=nonMember.id%>" method="post">
      <button class="ignore-user-btn">Ignore</button>
    </form>
    <form action="/manage/accept/<%=nonMember.id%>" method="post">
      <button class="accept-user-btn">Accept</button>
    </form>
  </div>
</li>
<hr>
