<li class="member-card">
  <div>
    <span><%= member.name %></span>
    <span><%= member.email %></span>
  </div>
  <div>
    <form action="/manage/kick/<%=member.id%>" method="post">
      <button>Kick</button>
    </form>
  </div>
</li>