<footer>
  <p>Welcome to PasswordKeepR!</p>
  <p>We are a storage system for passwords for organzations. Organizations have many different accounts which
    need to be shared between users. PasswordKeepR will let an authorized user acess all the passwords of the
    organization. The
    app will also let a user generate a new password for a specific account. Users will be able to
    generate a password based on the options the form will provide. Some of the options are: password length, contains
    lowercase, contairs uppercase, contains numbers, and contains symbols. </p>
  <p>If a user needs to log in to a specific website (e.g. Facebook) they can go into the app, find the appropriate
    password,
    click a button which copies the password into the clipboard, and log in. </p>
  <h3>A List of our features:</h3>
  <span>
    <li style="color:black">Users can register/login and be assigned to an organization</li>
    <li style="color:black">Users can add a new username and password for a specific website</li>
    <li style="color:black">App can generate password based on specific criteria</li>
    <li style="color:black">Users can edit and change their password any time</li>
    <li style="color:black">Users have a convinient copy to clipboard button so they dont have to select the password
    </li>


  </span>

</footer>
