<header>
  <nav>
    <a href="/"><h1>PROJECT NAME</h1></a>

    <ul>
      <li>
        <a href="/new">new</a>
      </li>
      <li>
        <a href="/all">mylist</a>
      </li>
      <li>
        <a href="/login">login</a>
      </li>
      <li>
        <a href="/signup">signup</a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button><a href="/logout">logout</a></button>
        </form>
      </li>
    </ul>
  </nav>
</header>
