<header>
  <nav>
    <a href="/">
      <h1>NAME</h1>
    </a>

    <ul class="header-list">
            <% if(locals.isAuth) {%> 
      <li>
        <a href="/new">New</a>
      </li>
      <% } %> 
        <% if(locals.isAuth) {%> 
      <li>
        <a href="/list">Urls</a>
      </li>
      <% } %> 
      <% if(locals.isAdmin) {%> 
      <li>
        <a href="/manage">Members</a>
        <% if(locals.userCount>0) { %> 
          <div id="pending-user-count">
            <i ><%= userCount %></i>
          </div>
        <% } %> 
      </li>
      <% } %> 
      <% if(!locals.isAuth) {%> 
      <li>
        <a href="/login">Login</a>
      </li>
      <% } %> 
      <% if(!locals.isAuth) {%> 
      <li>
        <a href="/signup">Signup</a>
      </li>
      <% } %> 
      <% if(locals.isAuth) {%> 
      <li>
        <form action="/logout" method="post">
            <button><a>Exit</a></button>
        </form>
      </li>
      <% } %> 
    </ul>
  </nav>
</header>
