<a href="/info/<%=webURL_item['id'] %>">
  <section class="webURL-card">
    <div class="webURL-card-url">
      <img
        class="web-favicon"
        src="http://s2.googleusercontent.com/s2/favicons?domain_url=<%= webURL_item['url']%>"
        alt="web-favicon"
      /><%= webURL_item['url']%>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 wiggle"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </section>
  <hr />
</a>
