<li>
  <p class="list_webURL_url"><%= webURL_item['url'] %></p>
  <div>
    <p class="list_webURL_username"><%= webURL_item['username'] %></p>
    <p class="list_webURL_password"><%= webURL_item['password'] %></p>
  </div>
</li>
<hr>
