<%- include('./partials/_head',{title:"401"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main>
      <p class="err-msg">YOU ARE NOT AUTHENTICATED, <a id="a-redirect-login" href="/login">LOGIN</a> FIRST.</p>  
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>