<%- include('./partials/_head') %> 
  <body>
    <%- include('./partials/_header') %> 
    <main>
        YOU ARE NOT AUTHORIZED
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>