<%- include('./partials/_head',{title:"404"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main>
      <p class="err-msg">PAGE NOT EXIST</p>  
        
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>