<%- include('./partials/_head',{title:"500"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main>
        SOMETHING WENT WRONG
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>