<%- include('./partials/_head') %> 
  <body>
    <%- include('./partials/_header') %> 
    <main>
      <article>
        <h2>
          article
        </h2>
      </article>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
