<%- include('./partials/_head',{title:"All URLs"}) %>
  <body>
    <%- include('./partials/_header') %> 
    <main>
      <section class="org_webURL_list">
      <ul>
        <% if( !locals.webURL_arr || locals.webURL_arr.length === 0) {%>
          <p>Nothing here...Maybe <a href="/new" data-linkto="new">create</a> some?</p>
        <% } else { %>
          <% for(const item of webURL_arr) { %> 
            <%- include('./partials/_webinfo_displayOnly_card', {webURL_item: item}) %> 
          <% } %> 
        <% } %> 
      </ul>
      </section>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
