<%- include('./partials/_head',{title:"Main"}) %>

  <body class="body">
    <%- include('./partials/_header') %>
      <main>
        <section id="main-intro">
          <article class="article">
            <h6>
            This is a storage system for passwords for organizations.   
            </h6>
            <hr>
            <p>
            Organizations have many different accounts which
            need to be shared between users. PasswordKeepR will let an authorized user acess all the passwords of the organization. 
            </p>
            <p>
            We will also generates a new password for a specific account based on the options the form will provide.
            </p>
            <p>
            If a user needs to log in to a specific website (e.g. Facebook) they can go into the app, find the website URL, password, click a button which copies the password into the clipboard, and log in.
            </p>
          </article>

          <hr>
 
          <ul id="main-feature-list">
                     <h6>
            Features
          </h6>
            <li>Register as admin of an organization or as regular user.</li>
            <li>Users can be assigned to an organization.</li>
            <li>Access to all website passwords for the organization you belong.</li>
            <li>Create and store a password for a specific website with this app.</li>
            <li>Passwords stored are encrypted.</li> 
            <li >Edit and change passwords any time.</li>
            <li >A convinient copy button avaliable.</li>
          </ul>
        </section>
      </main>
      <%- include('./partials/_footer') %>
  </body>

  </html>