<%- include('./partials/_head') %>

  <body class="body">
    <%- include('./partials/_header') %>
      <main>
        <section id="web-categories">
          <article>

            <img src="/images/padlock.png" alt="" class="lockImage">
            <h3 class="aboutUs"> About us:</h3>

          </article>

        </section>

      </main>
      <%- include('./partials/_footer') %>
  </body>

  </html>
