<%- include('./partials/_head') %> 
  <body>
    <%- include('./partials/_header') %> 
    <main>
        <form action="/new" method="post">
          <p class="input_sec">
            <label for="web_type">web_type</label>
            <select name="web_type" id="web_type">
                <option value="entertainment">entertainment</option>
                <option value="social">social</option>
                <option value="work">work</option>
                <option value="finance">finance</option>
                <option value="shopping">shopping</option>
                <option value="health">health</option>
                <option value="pets">pets</option>
                <option value="pets">home</option>
                <option value="pets">study</option>
            </select>
          </p>
          <p class="input_sec">
            <label for="website_url">website_url</label>
            <input type="url" name="website_url" id="website_url">
          </p>
          <p class="input_sec">
            <fieldset>
              <legend>password requirements</legend>
                <label for="passwordlength">password length</label>
                <input type="number" name="passwordlength" id="passwordlength" step="1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="lowercase" id="lowercase">
                  <label class="form-check-label" for="lowercase">
                    lowercase
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="uppercase" id="uppercase">
                  <label class="form-check-label" for="uppercase">
                    uppercase
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="uppercase" id="uppercase">
                  <label class="form-check-label" for="uppercase">
                    number
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="uppercase" id="uppercase">
                  <label class="form-check-label" for="uppercase">
                    special-chars
                  </label>
                </div>
            </fieldset>
          </p>
          <div>
            <button type="reset">Clear</button>
            <button>Submit</button>
          </div>
            
        </form>
    </main>
    <%- include('./partials/_footer') %> 
  </body>
</html>
