<%- include('./partials/_head',{title:"Create"}) %>
  <body>
    <%- include('./partials/_header') %>
    <main>
        <form id="urlsubmissionform" action="/new" method="post">

          <p class="input_sec">
            <label for="website_url">Website Url</label>
            <input id="website_url" type="url" name="website_url" class="responsive-input" value="http://">
          </p>
          <p class="input_sec user_email">
            <label for="user_email">User email</label>
            <input id="user_email" type="text" name="user_email" class="responsive-input">
          </p>
          <hr>
                    <p class="input_sec">
            <label for="web_type">Website Category</label>
            <select name="web_type" id="web_type">
                <option value="entertainment">entertainment</option>
                <option value="social">social</option>
                <option value="work">work</option>
                <option value="finance">finance</option>
                <option value="shopping">shopping</option>
                <option value="health">health</option>
                <option value="pets">pets</option>
                <option value="home">home</option>
                <option value="study">study</option>
            </select>
          </p>
          <hr>
          <p class="input_sec">
            <fieldset id="requirements">
              <legend>Password requirements</legend>
                <label for="passwordlength"><i>Password length (>6)</i></label>
                <input type="number" name="passwordlength" id="passwordlength" step="1" class="responsive-input">
                <section class="password-requirements-container">
                <div class="form-check">
                  <input id="lowercase" class="form-check-input" type="checkbox" value="0" name="lowercase">
                  <label class="form-check-label" for="lowercase">
                    <i>Lowercase</i>
                  </label>
                </div>
                <div class="form-check">
                  <input id="uppercase" class="form-check-input" type="checkbox" value="0" name="uppercase">
                  <label class="form-check-label" for="uppercase">
                    <i>Uppercase</i>
                  </label>
                </div>
                <div class="form-check">
                  <input id="number" class="form-check-input" type="checkbox" value="0" name="number">
                  <label class="form-check-label" for="number">
                    <i>Number</i>
                  </label>
                </div>
                <div class="form-check">
                  <input id="specialchar" class="form-check-input" type="checkbox" value="0" name="specialchar">
                  <label class="form-check-label" for="specialchar">
                    <i>Special chars</i>
                  </label>
                </div>
                </section>
            </fieldset>
          </p>
          <hr>
          <div id="actions">
            <button type="reset">Clear</button>
            <button id="disabledsubmit" type="submit" disabled>Submit</button>
          </div>

        </form>
    </main>
    <%- include('./partials/_footer') %>
  </body>
</html>
