[action="/new"] {
    border: 1px;
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  padding: 3rem 5rem;
  margin: 0 auto;

  select #web_type {
    color: inherit;
    padding: 0.2rem;
  }
  p.input_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      margin-block-end: 0.2rem;
    }
    input {
      padding: 0.2rem 1rem;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    [for="passwordlength"] {
      color: rgb(60, 60, 60);
      margin-block-end: 0.2rem;
    }
    legend{
      margin-block-start: 1rem;
      text-align: right;
      text-decoration: underline;
    }
    .form-check {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
    }
    .form-check-label {
      color: rgb(60, 60, 60);
      margin: 0;
      align-items: center;
      margin-inline-start: 2rem;
    }

    section.password-requirements-container {
      margin-block-start: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

div#actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  [type="reset"] {
    flex-grow: 0.15;
    padding: 0.3rem;
    border: none;
    outline: none;
  }
  [type="reset"]:hover {
    animation: btnClearColorChange 0.3s ease 1 forwards;
    border-radius: 2px;
  }
  @keyframes btnClearColorChange {
    from {
      color: rgb(60, 60, 60);
      background-color: transparent;
    }
    to {
      color: white;
      background-color: orange;
    }
  }

  [type="submit"] {
    flex-grow: 0.75;
    padding: 0.3rem;
    border: none;
    outline: none;
  }
  [type="submit"]:hover {
    animation: btnSubmitColorChange 0.3s ease 1 forwards;
    border-radius: 2px;
  }
  @keyframes btnSubmitColorChange {
    from {
      color: rgb(60, 60, 60);
      background-color: transparent;
    }
    to {
      color: white;
      background-color: green;
    }
  }
}

#user-password-choice{
  margin: 0 auto;
}

#create-password{
  margin-inline-end: 0.2rem;
}

#password-requirements{
  display: none;
}

#requirements{
  display: none;
}
