.webtype-card {
  display: flex;
  justify-content: space-between;
}

.webtype-card-count {
  background-color: gray;
}

.webtype-card-img {
  width: 10rem;
  height: 5rem;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%, transparent 100%);
}

.body {
  background-color: aliceblue;
  font-family: barlow,
    monospace;
}

.lockImage {
  float: right;
  text-align: center;
  max-width: 45%;
  margin-bottom: 100px;
  max-height: 45%
}

.aboutUs {
  margin-top: 20px;
}

.article {
  width: 60%
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
