.aboutUs {
  margin-top: 20px;
}

.article {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: justify;
  h6{
    margin-block-start: 4rem;
  }
}

#main-feature-list {

  color: rgb(60, 60, 60);
  li {
    font-size: 1rem;
    list-style:disc
  }
  width: 80%;
  margin: 0 auto;
  
}
