nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: barlow,
    monospace;

  a {
    color: black;
  }

  ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 0px;

    li {
      padding-inline-start: 1rem;
      padding-inline-end: 1rem;
    }
  }
}

@media (max-width:1274px) {
  .header-list {
    flex-wrap: nowrap;

  }
}

@media (max-width:996px) {
  .header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 40%;

  }
}
