.webinfo-detail {
  background-color: lightgray;
  border: 1px;
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  padding: 1rem;

  .username-pswd-info-username {
    margin-block-start: 2rem;
    margin-block-end: 0.5rem;
  }

  .webinfo-detail-url {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
      display: block;
      color: rgb(60, 60, 60);
      font-size: 0.9rem;
    }
  }

  div.info-container {
    display: flex;
    flex-direction: column;

    button {
      border: none;
      background-color: rgb(245, 245, 245);
    }

    svg.action {
      width: 1.5rem;
    }

    .readonly {
      background-color: rgb(245, 245, 245);
      outline: none;
      border: none;
      height: 3rem;
    }

    .username-pswd-info {
      margin-block-end: 0.8rem;
      form.copy-password {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
          flex-grow: 1;
        }
        svg:hover {
          color: green;
        }
      }
    }

    div.actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        background-color: rgb(245, 245, 245);
      form.edit-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0.5;
        input {
          border: none;
          padding-inline-start: 1rem;
          outline: none;
          flex-grow: 1;
          background-color: rgb(245, 245, 245);
          height: 3rem;
          padding-inline-start: 3rem;
        }

        svg {
          width: 1.5rem;
        }
        svg:hover {
          color: orange
        }
      }

      form.delete-form {
        display: block;
        .delete-btn {
          height: 100%;
        }
        svg {
          width: 1.5rem;
        }
                svg:hover {
          color: rgb(200, 0, 0);
        }
      }
    }
  }
}
