.webtype-card-img {
  width: 20rem;
  height: 4rem;
  border-radius: 4px;
  object-fit: cover;
  margin-inline-end: 1rem;
}

.webtype-card:hover {
  img {
    box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
  }
  p.webtype-card-type {
    color: black;
  }
  div p.webtype-card-count {
    background-color: gray;
    color: rgb(245, 245, 245);
  }
}

.webtype-card {
  display: flex;
  justify-content: space-between;

  .webtype-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p.webtype-card-type {
      font-size: 1.2rem;
      margin-inline-start: 1rem;
      margin-block-end: 0;
    }
    .webtype-card-count-box {
      margin-inline-start: 1rem;
      p {
        margin: 0;
        color: gray;
        background-color: rgb(245, 245, 245);
        text-align: center;
        width: 3rem;
        border-radius: 1rem;
      }
    }
  }
}

section.web-categories {
  border: 1px;
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  padding: 2rem 1rem;

  .indicator{
    cursor:default;
  }

  [href="/org"], .indicator {
    color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
    text-decoration: none;

    svg {
      width: 2rem;
      margin-inline-end: 1rem;
    }
    h2 {
      margin: 0;
      margin-inline-start: 1rem;
    }
  }
  [href="/org"]:hover {
    svg.wiggle {
      animation: wiggle 1s ease infinite both;
    }
    @keyframes wiggle {
      0% {
        scale: 2;
        transform: translateX(0rem);
      }
      50% {
        transform: translateX(0.5rem);
      }
      100% {
        transform: translateX(0rem);
      }
    }
  }

  hr {
    height: 2px;
    background-color: rgb(210, 210, 210);
    border: none;
    margin-block-start: 1.2rem;
    margin-block-end: 1.2rem;
  }
}
