section.org_webURL_list {
  border: 1px;
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  padding: 2rem 1rem;

  ul {
    padding: 0;
  }

  .list_webURL_container {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    p {
      margin: 0;
    }
  }

  .div-with-svg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1rem;
    background-color: whitesmoke;
    padding: 0.1rem 0.3rem;
  }

  .copybutton {
    width: 1.3em;
  }

  .copybutton:hover {
    color: green;
  }

  .copybutton:active {
    color: green;
  }

  .p_with_svg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a {
      display: block;
      color: rgb(60, 60, 60);
      font-size: 0.9rem;
    }
  }
  .list_webURL_password{
    background-color: whitesmoke;
    border:none;
    }

}

.webinfo-detail-url {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-block-end: 1rem;

  a {
    display: block;
    color: rgb(60, 60, 60);
    font-size: 0.9rem;
  }
}

.copybutton {
  cursor: grab;
}

.copybutton:active {
  cursor: grabbing;
}

